.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
    
    &__side {
        overflow: hidden;
        font-size: 2rem;
        transition: all .7s ease;
        height: 52rem;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black,0.15);

        &--front {
            background-color: #fff;
        }
        
        &--back {
            transform: rotateY(-180deg);
            &-1 {
                background-image:linear-gradient(to right bottom, rgba($color-secondary-light,0.8), rgba($color-secondary-dark, 0.8));
            }

            &-2 {
                background-image:linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark, 0.8));
            }

            &-3 {
                background-image:linear-gradient(to right bottom, rgba($color-tertiary-light,0.8), rgba($color-tertiary-dark, 0.8));
            }

        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

//FRONT SIDE STYLING
    &__picture {
        background-position: center;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );

        &--1 {
            background-image:url("https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"), linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }

        &--2 {
            background-image:url("https://images.unsplash.com/photo-1473448912268-2022ce9509d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"), linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }

        &--3 {
            background-image:url("https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"), linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
        
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position:absolute;
        top:12rem;
        right:2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light,0.85), rgba($color-secondary-dark,0.85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.85), rgba($color-primary-dark,0.85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light,0.85), rgba($color-tertiary-dark,0.85));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            color: black;
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 90%;
    }

    &__price-box {
        text-align: center;
        color:$color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}